#head{
   
    color: #212529;
    text-align: right;
    margin: 10px;
   padding-right: 10px;
}
nav, article, footer {
    margin: 10px;
    
}
body{
    background-color: #f9f8f8;
}
img{
    padding: 10px;
    
}
.titulo{
    background-color: #212529;
    color: #f9f8f8;
    padding: 5px;
}